SERVER_KEY=private_server_key_here
PRIVATE_SERVER_API="https://api.policeroleplay.community/v2/"
WEBHOOK_API=""
WEBHOOK_TOKEN=your_webhook_token

#DISCORD.JS Vars
DISCORD_BOT_TOKEN=bot_token_here
DISCORD_BOT_ID=
DISCORD_GUILD_ID=

MODERATOR_ROLE=