PORT=3000
PUBLIC_KEY_BASE64=MCowBQYDK2VwAyEAjSICb9pp0kHizGQtdG8ySWsDChfGqi+gyFCttigBNOA=
V1_API_BASE_URL=https://api.policeroleplay.community/v1
V1_SERVER_KEY=your_v1_server_key
WEBHOOK_CREATED_AUTH_TOKEN=